<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-2">
    <div class="flex justify-start gap-2">
      <app-button
        [disabled]="!hasPing || hasPendingTransactions"
        (onClick)="onSendPingTransaction()"
        dataTestId="btnPingRaw"
        dataCy="transactionBtn"
      >
        <fa-icon [icon]="faArrowUp" class="mr-1"></fa-icon>
        Ping
      </app-button>

      <app-button
        [disabled]="!pongAllowed || hasPing || hasPendingTransactions"
        dataTestId="btnPongRaw"
        dataCy="transactionBtn"
        (onClick)="onSendPongTransaction()"
      >
        <fa-icon [icon]="faArrowDown" class="mr-1"></fa-icon>
        Pong
      </app-button>
    </div>
  </div>

  <app-output-container>
    <div *ngIf="!hasPendingTransactions">
      <app-ping-pong-output
        [timeRemaining]="timeRemaining"
        [pongAllowed]="pongAllowed"
        [transactions]="transactions"
      >
      </app-ping-pong-output>
    </div>

    <app-ping-pong-output
      *ngIf="hasPendingTransactions"
      [timeRemaining]="timeRemaining"
      [pongAllowed]="pongAllowed"
      [transactions]="transactions"
    >
    </app-ping-pong-output>
  </app-output-container>
</div>
